
//blue = #44decf
blue = rgba(68, 222, 207, 1)

white = #fff
whiteLightShade = #fafafa
whiteShade = #efefef
whiteDarkShade = #eaeaea

greyLight = #dedede
greyShade = #bababa
greyShadeDark = #cdcdcd
grey = #555
greyDark = #363636
greyBlack = #171717

black = #000
