@import '../../css/imports/colors'

.clock
  position: absolute
  top: 0
  left: 0
  width: 250px
  height: 50px
  text-align: center
  font-size: 40px
  color: blue
  .hours, .minutes, .seconds
    display: inline-block
  .seconds
    font-size: 20px
