@font-face
  font-family 'roboto'
  font-style normal
  font-weight 200
  src: local('Roboto'), local('Roboto'), url(../../fonts/roboto.ttf) format('truetype');
  font-smoothing antialiased
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

@font-face
  font-family 'simplifica'
  font-style normal
  font-weight 200
  src: local('Simplifica'), local('Simplifica'), url(../../fonts/simplifica.ttf) format('truetype');
  font-smoothing antialiased
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

@font-face
  font-family 'trench'
  font-style normal
  font-weight 200
  src: local('Trench'), local('Trench'), url(../../fonts/trench.otf) format('opentype');
  font-smoothing antialiased
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

@font-face
  font-family 'rodus'
  font-style normal
  font-weight 200
  src: local('Rodus'), local('Rodus'), url(../../fonts/rodus.otf) format('opentype');
  font-smoothing antialiased
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

font-roboto()
  font-family 'Roboto'
font-trench()
  font-family 'Trench'
font-rodus()
  font-family 'Rodus'
font-simplifica()
  font-family 'Simplifica'
